@use 'global' as *;

$input-text-size: var(--input-text-size);

:deep(.el-textarea__inner) {
  background-color: var(--ttime-translate-input-color-background);
  box-shadow: 0 0 0 0;
  border: 0;
  resize: none;
  box-sizing: border-box;
  padding: 8px 10px;
  width: 100%;
  font-size: $input-text-size;
  line-height: 1.55;
  transition: background-color 160ms ease, box-shadow 160ms ease;
}

:deep(.el-textarea__inner:focus) {
  outline: 0;
  box-shadow: 0 0 0 0;
  background-color: var(--ttime-translate-input-color-background);
}

:deep(.el-textarea__inner:hover) {
  box-shadow: 0 0 0 0;
}

// 修改textarea滚动条样式
:deep(.el-textarea__inner::-webkit-scrollbar) {
  width: 6px;
  height: 6px;
}

:deep(.el-textarea__inner::-webkit-scrollbar-thumb) {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: var(--ttime-translate-border-color);
}

:deep(.el-textarea__inner::-webkit-scrollbar-track) {
  background-color: transparent;
}
